<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Scraped from Cambridgeshire Library eBooks with ratings from GoodReads.">
    <meta name="author" content="Pete Burgers">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>CamLibrary eBooks</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/static/css/root.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CamLibrary eBooks</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- <ul class="nav navbar-nav">
          </ul> -->
          <ul class="nav navbar-nav navbar-right">
            <li id="genre-dropdown" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Filter by Genre <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% for section in section_list %}
                  <li><a class="section">{{section}}</a></li>
                  {% for genre in genre_map[section] %}
                    <li class="stop-propagation"><a>
                      <label class="genre">
                      {% if genre["index"] in filter_list %}
                        <input type="checkbox" id="genre-{{genre["index"]}}" checked>
                      {% else %}
                        <input type="checkbox" id="genre-{{genre["index"]}}">
                      {% endif %}
                      {{genre["name"]}} ({{genre["book_count"]}})</label>
                    </a></li>
                  {% endfor %}

                  {% if not loop.last %}
                    <li role="separator" class="divider"></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
            <li><a href="#">About</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container infinite-scroll">
      {% include "books_fragment.html" %}

      <hr>

      <footer>
        <p></p>
      </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/libs/jquery-1.12.0/js/jquery.min.js"><\/script>')</script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    <script>window.jQuery.fn.modal || document.write('<script src="/static/libs/bootstrap-3.3.6/js/bootstrap.min.js"><\/script>')</script>

    <!-- Bootstrap CSS local fallback -->
    <script>
      $(document).ready(function() {
      var bodyColor = $('body').css('color');
      if(bodyColor != 'rgb(51, 51, 51)') {
      $("head").prepend('<link rel="stylesheet" href="/static/libs/bootstrap-3.3.6/css/bootstrap.min.css">');}});
    </script>

    <script src="/static/libs/jscroll-2.3.4/js/jquery.jscroll.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

	  <script type="text/javascript">
      $(function() {
        render_all_stars();

        $('div.infinite-scroll').jscroll({
          padding: 400,
          callback: render_all_stars
        });

        $('.stop-propagation').click(function(e) {
          e.stopPropagation();
        });

        $('#genre-dropdown').on('hide.bs.dropdown', function () {
          var data = "";
          $('input[type=checkbox]').each(function () {
            if (this.checked) {
              data += "," + this.id.substring(6);
            }
          });
          if (data.length > 0) {
            data = data.substring(1);
          }
          window.location.href = "{{url_for('root')}}?filter=" + data;
        })
      });

      function render_all_stars() {
        $('span.stars_to_render').render_stars();
      }

      $.fn.render_stars = function() {
          return $(this).each(function() {
              // Get the value
              var val = parseFloat($(this).html());
              // Make sure that the value is in 0 - 5 range, multiply to get width
              var size = Math.max(0, (Math.min(5, val))) * 16;
              // Create stars holder
              var $span = $("<span />").width(size);
              // Replace the numerical value with stars
              $(this).html($span);
              // Remove the class, so it doesn't get rendered again
              $(this).removeClass("stars_to_render");
          });
      }

      function camlib_search(isbn) {
        $('input[name="keyword"]').val(isbn);
        $("#form_submit").submit();
      }
    </script>

    <form method="post" action="http://cambridgeshire.libraryebooks.co.uk/site/EB/ebooks/search_generate.asp" id="form_submit">
      <input type="hidden" name="quicksearchtype" value="keyisbn">
      <input type="hidden" name="keyword" value="">
      <input type="hidden" name="st" value="simple">
    </form>
  </body>
</html>
